.Modal {
    position: absolute;
    top: 10%;
    left: 20%;
    right: 20%;
    bottom: 40%;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid #54ACD2;
    border-radius: 15px;
    outline: none;
  }

  .Modal button {
    float: right;
    height: 24px;
    width: 24px;
    margin: 6px;
    cursor: pointer;
    background-color: #FFF;
    border: none; 
    padding: 0;
    outline: none;
  }

  .Modal button img {
    height: 100%;
    width: 100%;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1001;
  }