form {
  margin: 40px 30px;
}

form .button {
  margin-top: 0;
  margin-right: 30px;
  border: none;
  background: #54ACD2;
  color: white;
  height: 32px;
  width: 160px;
  font-size: 14px;
  cursor: pointer;
}

form .button:focus {
  border-color: #FFF;
  outline: none;
}

form input, form textarea {
  width: 98%;
  padding: 0 5px;
  margin-bottom: 12px;
  border: solid #54ACD2 1px;
  border-radius: 5px;
  font: inherit;
  font-size: 14px;
}

form input {
  height: 24px;
}
form textarea {
  height: 160px;
  resize: none;
}

.red {
  border-color: red;
  border-width: 2px;
}

label {
  position: relative;
}

.err-message {
  position: absolute;
  top: 50px;
  right: 50px;
  color: white;
  background: red;
  z-index: 1001;
  border-radius: 6px;
  padding: 8px;
}
.triangle-red {
  width: 20px;
  height: 15px;
  background-image: url('../../assets/triangle-red.png');
  z-index: 1001;
  position: absolute;
  top: -15px;
  right: 10px;
}