.login-menu {
  position: absolute;
  right: 30px;
  top: 65px;
  background-color: rgba(255, 255, 255, 0.7);  
  padding: 15px;
  border-radius: 4px;
  z-index: 999;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

.login-menu button {
  text-decoration: none;
  color: #54ACD2;
  cursor: pointer;
  text-align: center;
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0 auto;
  font-size: 16px;
}

.triangle {
  width: 20px;
  height: 15px;
  background-image: url('./img/triangle.png');
  z-index: 999;
  position: absolute;
  top: -15px;
  right: 10px;
}
.clear {
  width: 100%;
  margin: 20px 0;
  overflow: hidden;
  
}