.header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.head {
  background: #54ACD2;
  color: #FFF;
  width: 100%;
  line-height: 60px;
  text-transform: uppercase;
  overflow: hidden;
}
.head .logo {
  /*font-size: 24px;*/
  float: left;
  margin-left: 48px;
}
.head .menu {
  float: right;
  margin-right: 15px;
}
.head .menu ul {
  list-style: none;
  float: right;
  margin: 0; padding: 0;
}
.head .menu ul li  {
  display: inline-block;
}
.head .menu ul li a {
  display: block; 
  padding-right: 18px; padding-left: 18px;
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}
.google-btn {
  float: right;
  width: 191px;
  height: 46px;
  background: transparent ;
  margin: 0;
  padding: 0;
  border: none;
  background-image: url('./img/btn_google_signin_light_normal_web.png');
  cursor: pointer;
  outline: none;
  margin-top: 6px;
  margin-right: 30px;
}
.google-btn:active {
  background-image: url('./img/btn_google_signin_light_pressed_web.png');
}
.google-btn:focus {
  background-image: url('./img/btn_google_signin_light_focus_web.png');
}
.user-photo {
  float: right;
  height: 60px;
}
.user-photo img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin: 13px 30px 0 0;
}

